<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
 <input type="hidden" name="_method" value="patch">
 <label>Pet Name:</label>
 <input type="text" name="pet_name" value="<%=@pet.name%>"/>
 <% @owners.each do |owner| %>
  <label>Name: <%=owner.name%></label>
  <input type="radio" id="<%=owner.id%>" name="pet[owner_id]" <%='checked' if owner.id==@pet.owner.id %> value="<%=owner.id%>" />
 <% end %>
  Pet Owner:
  <input id="owner_name" type="text" name="owner[name]" value="<%=@pet.owner.name%>"/>
 <input type="submit" id="submit" value="Update Pet"/>
</form>
